*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start Header (Home) */
.home{
    position: relative;
    width: 100%;
    min-height: 860px;
    padding: 150px 0;
    background: linear-gradient(145deg, rgba(145, 212, 87, 0.8) 30%,rgba(92, 188, 243, 0.8)), url(../img/KYTC.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 50px;
    padding-bottom: 300px;
}
.home .navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6C5CF5;
    width: 100%;
    height: 80px;
    z-index: 1000;
}
.home .navbar .logo .logo-name{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
}
.home .navbar .full-name{
    flex-grow: 1;
    text-align: center;
}
.home .navbar .full-name p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.home .navbar .menu-div .menu{
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #98D54C;
}
.home .row .content-div{
    margin-bottom: 50px;
}
.home .container .heading{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 50px;
}
.home .container .desc{
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
}
.home .container .more{
    width: 170px;
    height: 50px;
    background-color: #6C5CF5;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    transition: color .8s ease, background-color .5s ease;
    -webkit-transition: color .8s ease, background-color .5s ease;
    -moz-transition: color .8s ease, background-color .5s ease;
    -ms-transition: color .8s ease, background-color .5s ease;
    -o-transition: color .8s ease, background-color .5s ease;
}
.home .container .more:hover{
    color: #6C5CF5;
    background-color: #fff
}
.home .col2.cta{
    flex-basis: 35%;
    margin: 0 5%;
}
.home .col2 .form{
    background-color: #6C5CF5;
    min-width: 320px;
    min-height: 450px;
    border-radius: 17px;
    padding: 45px 25px;
    position: relative;
}
.home .form label{
    display: inline-block;
    padding-left: 2px;
    margin-bottom: 5px;
    color: #ccc;
    font-size: 15px;
}
.home .form .inpt{
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px 15px;
}
.home .form .message{
    border: none;
    outline: none;
    display: block;
    padding: 10px 15px;
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.home .form .btn{
    margin-top: 15px;
    padding: 10px;
    width: 125px;
    height: 45px;
    color: #fff;
    background-color: #94d941;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    position: absolute;
    right: 25px;
    bottom: 20px;
    transition: color .5s ease,background-color .8s ease;
    -webkit-transition: color .5s ease,background-color .8s ease;
    -moz-transition: color .5s ease,background-color .8s ease;
    -ms-transition: color .5s ease,background-color .8s ease;
    -o-transition: color .5s ease,background-color .8s ease;
}
.home .form .btn:hover{
    background-color: #fff;
    color: #9fec3f;
}
.home .wave{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Toogle NavBar */
.home .links{
    width: 320px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: -320px;
    background-color: #6C5CF5;
    padding: 30px;
    z-index: 10000;
    transition: right .5s ease;
    -webkit-transition: right .5s ease;
    -moz-transition: right .5s ease;
    -ms-transition: right .5s ease;
    -o-transition: right .5s ease;
}
.home .links .button{
    text-align: right;
    margin-bottom: 50px;
}
.home .links .button .close{
    width: 45px;
    height: 45px;
    color: #98D54C;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.home .links ul .item{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    transition: padding .3s ease;
    -webkit-transition: padding .3s ease;
    -moz-transition: padding .3s ease;
    -ms-transition: padding .3s ease;
    -o-transition: padding .3s ease;
}
.home .links ul .item:hover{
    padding-left: 15px;
}
.home .links ul .item:hover a{
    color: #9fec3f;
}
.home .links ul .item a{
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
/* End Header (Home) */
/* Start Features Section */
.features .col3{
    min-width: 350px;
    padding: 25px;
    border-radius: 5px;
    
    transition: box-shadow .7s ease;
    -webkit-transition: box-shadow .7s ease;
    -moz-transition: box-shadow .7s ease;
    -ms-transition: box-shadow .7s ease;
    -o-transition: box-shadow .7s ease;
    
}
.features .col3:hover{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.features .col3:hover .image-div img{
    transform: rotate(360deg) scale(1.2,1.2);
    -webkit-transform: rotate(360deg) scale(1.2,1.2);
    -moz-transform: rotate(360deg) scale(1.2,1.2);
    -ms-transform: rotate(360deg) scale(1.2,1.2);
    -o-transform: rotate(360deg) scale(1.2,1.2);
}
.features .col3:hover .feature-content .name{
    color: #6C5CF5;
}
.features .col3 .image-div{
    margin-bottom: 10px;
}
.features .col3 .image-div img{
    transition: transform .8s ease;
    -webkit-transition: transform .8s ease;
    -moz-transition: transform .8s ease;
    -ms-transition: transform .8s ease;
    -o-transition: transform .8s ease;
}
.features .col3 .feature-content .name{
    color: #555;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: capitalize;
    transition: color .8s ease;
    -webkit-transition: color .8s ease;
    -moz-transition: color .8s ease;
    -ms-transition: color .8s ease;
    -o-transition: color .8s ease;
}
.features .col3 .feature-content .desc{
    line-height: 1.3;
}
/* End Features Section */
/* Start About Section */
.about{
    width: 100%;
    background-color: #E3F9F9;
}
.about .col2.image-div{
    flex-basis: 25%;
    margin-left: 10%;
    margin-right: 5%;
    min-width: 300px;
}
.about .col2.image-div img{
    border-radius: 10px;
}
.about .col2.content-div{
    min-width: 300px;
}
.about .col2 .sub-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 35px;
    color: #444;
}
.about .col2 .desc{
    font-size: 19px;
    color: #555;
    line-height: 1.3;

}
/* End About Section */
/* Start Programs Section */
.programs .title{
    margin-bottom: 70px;
}
.programs .col3{
    min-width: 350px;
    border-radius: 10px;
    background-color: #E3F9F9;
    overflow: hidden;
    cursor: pointer;
}
.programs .single-program:hover .image-div img{
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
}
.programs .single-program:hover .content-div .program-name{
    color: #6C5CF5;
}
.programs .single-program:hover .content-div .kind{
    background-color: #6C5CF5;
    /* color: #6C5CF5; */
}
.programs .single-program .image-div{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}
.programs .single-program .image-div img{
    transition: transform .8s ease;
    -webkit-transition: transform .8s ease;
    -moz-transition: transform .8s ease;
    -ms-transition: transform .8s ease;
    -o-transition: transform .8s ease;
}
.programs .single-program .content-div{
    padding: 15px;
    height: 150px;
    position: relative;
}
.programs .single-program .content-div .program-name{
    color: #666;
    margin-bottom: 25px;
    transition: color .5s ease;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -o-transition: color .5s ease;
}
.programs .single-program .content-div .kind{
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 9px;
    background-color: #98D54C;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    margin-top: 17px;
    position: absolute;
    right: 15px;
    transition: background-color .7s ease;
    -webkit-transition: background-color .7s ease;
    -moz-transition: background-color .7s ease;
    -ms-transition: background-color .7s ease;
    -o-transition: background-color .7s ease;
}
/* End Programs Sectino */
/* Start Static Section */
.statics{
    background-color: #6C5CF5;
}
.statics .col4{
    margin: 0 1%;
}
.statics .col4:hover .icons-div{
    transform: rotate(360deg) scale(1.2,1.2);
    -webkit-transform: rotate(360deg) scale(1.2,1.2);
    -moz-transform: rotate(360deg) scale(1.2,1.2);
    -ms-transform: rotate(360deg) scale(1.2,1.2);
    -o-transform: rotate(360deg) scale(1.2,1.2);
}
.statics .col4 .icons-div{
    width: 150px;
    height: 150px;
    background-color: #E3F9F9;
    border-radius: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6C5CF5;
    margin: 0 auto 20px;
    transition: transform .8s ease;
    -webkit-transition: transform .8s ease;
    -moz-transition: transform .8s ease;
    -ms-transition: transform .8s ease;
    -o-transition: transform .8s ease;
}
.statics .col4 .content .static-name{
    margin-bottom: 8px;
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 18px;
}
.statics .col4 .content .num{
    color: #99ff1d;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
}
/* End Static Section */
/* Start Instructor Section */
.instructor .title{
    margin-bottom: 110px;
}
.instructor .single-inst{
    min-width: 210px;
    height: 290px;
    border-radius: 7px;
    background-color: #E3F9F9;
    position: relative;
    padding: 20px;
    cursor: pointer;
}
.instructor .col3.single-inst{
    flex-basis: 21.33333%;
    margin: 0 6% 70px 6%;
}
.instructor .col3.single-inst:hover .image-div{
    border-radius: 50%;
    transform: translate(-85px, -55px) rotate(360deg);
    -webkit-transform: translate(-85px, -55px) rotate(360deg);
    -moz-transform: translate(-85px, -55px) rotate(360deg);
    -ms-transform: translate(-85px, -55px) rotate(360deg);
    -o-transform: translate(-85px, -55px) rotate(360deg);
    margin-bottom: 0;
}
.instructor .single-inst .image-div{
    width: 170px;
    height: 170px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    
    transition: transform 1s ease, border-radius .6s ease, margin .6s ease;
    -webkit-transition: transform 1s ease, border-radius .6s ease, margin .6s ease;
    -moz-transition: transform 1s ease, border-radius .6s ease, margin .6s ease;
    -ms-transition: transform 1s ease, border-radius .6s ease, margin .6s ease;
    -o-transition: transform 1s ease, border-radius .6s ease, margin .6s ease;
}
.instructor .single-inst .inst-info{
    color: #000;
    /* margin-top: 160px; */
}
.inst-info .inst-name{
    color: #555;
    margin-bottom: 15px;
}
/* End Instructor Section */
/* Start Gallery Section */
.gallery{
    background-color: #E3F9F9;
}
.gallery .title{
    margin-bottom: 80px;
}
.video-div .video{
    min-width: 300px;
    border-radius: 5px;
    
    outline: none;
}
.gallery .col2.image-div .row{
    padding: 25px;
}
.gallery .image-div .row .col2{
    overflow: hidden;
    height: 140px;
    margin-left: 10px;
    border-radius: 5px;
    
}
.gallery .image-div .row .col2 img{
    transition: transform .7s ease;
    -webkit-transition: transform .7s ease;
    -moz-transition: transform .7s ease;
    -ms-transition: transform .7s ease;
    -o-transition: transform .7s ease;
}
.gallery .image-div .row .col2:hover img{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}
/* End Gallery Sectino */
/* Start Testimonial Section */
.testimonial .col3.single-testi{
    background-color: #E3F9F9;
    padding: 25px;
    border-radius: 4px;
    min-width: 300px;
    cursor: pointer;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}
.testimonial .col3.single-testi:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
.testimonial .col3.single-testi:hover .testi-info img{
    transform: scale(1.3,1.3) rotate(360deg);
    -webkit-transform: scale(1.3,1.3) rotate(360deg);
    -moz-transform: scale(1.3,1.3) rotate(360deg);
    -ms-transform: scale(1.3,1.3) rotate(360deg);
    -o-transform: scale(1.3,1.3) rotate(360deg);
}
.testimonial .col3 .testi-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform .8s ease;
    -webkit-transition: transform .8s ease;
    -moz-transition: transform .8s ease;
    -ms-transition: transform .8s ease;
    -o-transition: transform .8s ease;
}
.testimonial .col3 .testi-info .student-name{
    margin-bottom: 15px;
}
/* End Testimonial Section */
/* Start Location Section */
.locatoin .map{
    border: 5px solid #6C5CF5 !important;
    border-radius: 5px;
    
}
/* End Location Section */
/* Start Footer Section */
.footer{
    background-color: #6C5CF5;
    position: relative;
    min-height: 350px;
    overflow: hidden;
    margin-top: 50px;
}
.footer.new-sec{
    padding-top: 300px;
    padding-bottom: 50px;
}
.footer .foot-wave{
    position: absolute;
    top: 0;
    left: 0;
}
.footer .row{
    align-items: flex-start;
}
.footer .row .col3{
    min-width: 300px;
    margin-left: 20px;
}
.footer .kytc-info .logo{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
.footer .kytc-info p{
    font-size: 17px;
    color: #ccc;
    margin-bottom: 15px;
}
.footer .kytc-info .social-site .icon{
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #6C5CF5;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 50%;
    margin: 10px 27px 0 0;
}
.footer .kytc-info .call{
    background-color: #fff;
    color: #6C5CF5;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.footer .links .name{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.footer .links .item{
    margin-bottom: 7px;
    padding: 3px;
}
.footer .name{
    position: relative;
}
.footer .form .name{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.footer .form .tip{
    color: #ccc;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer .form .email{
    width: 80%;
    height: 45px;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 5px;
    
    display: block;
    margin-bottom: 15px;
}
.footer .form .btn{
    width: 135px;
    min-height: 35px;
    color: #fff;
    background-color: #98D54C;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
}
/* End Footer Section */
/* Start My Framwork */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
}
.inline-block{
    display: inline-block;
}
.row-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    display: flex;
    align-items: center;
}
.row .col3{
    flex-basis: 30%;
    margin: 0 1%;
    margin-bottom: 35px;
}
.row .col2{
    flex-basis: 45%;
    margin: 0 1%;
    margin-bottom: 10px;
}
.row .col4{
    flex-basis: 20%;
    margin: 0 2%;
    margin-bottom: 30px;
}
.row .no-wrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.row-between{
    justify-content: space-between;
}
.row-around{
    justify-content: space-around;
}
.new-sec{
    padding: 80px 0;
}
.resp-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-title{
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.sec-title::before{
    content: '';
    width: 100px;
    height: 4px;
    background-color: #6C5CF5;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 5px;
    
}
.title{
    margin-bottom: 50px;
}
.text-center{
    text-align: center;
}
.clasic-list{
    list-style-type: none;
}
/* End My Framwork */
